.main {
    width: 100%;
    height: 92%;
    background-color:#e7e7e7;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 1000px;
    height: 90%;
    /* width: 80%;
    height: 90%; */
    background: white;
    margin-top: 3%;
    box-shadow: 1px 1px 6px 1px #888;
    border-radius: 5px;
}

.main-tools {
    width: 100%;
    height: 25px;
    /* background-color: #f1f1f1; */
    display: flex;
    justify-content: flex-end;
    /* border-radius: 5px; */
}

.main-tools-button {
    margin-right: 10px;
}

.main-content {
    width: 100%;
    height: calc(100% - 65px);
    /* background-color: grey; */
}

.rs-btn-close, .rs-uploader-file-item-btn-remove {
    color: none !important;
    border: white !important;
    background-color: none !important;
}

.rs-toast-provider, .rs-notification {
    z-index: 99999 !important;
}